body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-container {
    border: 2px solid black;
    border-radius: 8px;
    width: 20em;
    height: 32em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14px;
    background-color: darkcyan;
}

#calculatorDisplay {
    border: 2px solid lightgoldenrodyellow;
    border-radius: 6px;
    height: 2.25em;
    width: 6.75em;
    margin: 18px;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    font-size: 40px;
}

.row0, .row1, .row2, .row3, .row4 {
    display: flex;
    flex: 1 1 auto;
    width: 18em;
    justify-content: center;
    align-items: space-between;
}

button {
    flex-grow: 1;
    margin: 0.1em;
    width: 4em;
    background-color: paleturquoise;
    border-radius: 4px;
} 

.zero {
    flex-grow: 6; 
}

.row0 button {
    background-color: azure;
}

.right-column {
    background-color: tomato;
}

#divideButton {
    background-color: tomato;
}